<body >
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>   {{"login.login"| translate}}</h3>

    <label for="email">   {{"login.email"| translate}}</label>
    <input type="text" formControlName="email" [placeholder]="'login.email'| translate" id="email" />
       <div
      [hidden]="
        loginForm.get('email')?.valid ||
        loginForm.get('email')?.untouched
      "
      class="bg-danger p-2 rounded-1"
    >
      <small *ngIf="loginForm.get('email')?.errors?.['required']">
           {{"login.requiredEmail"| translate}}
      </small>
    </div>

    <label for="password">{{"login.password"| translate}}</label>
    <input
      type="password"
      formControlName="password"
      [placeholder]="'login.email'| translate"
      id="password"
    />
    <div
      [hidden]="
        loginForm.get('password')?.valid ||
        loginForm.get('password')?.untouched
      "
      class="bg-danger p-2 rounded-1"
    >
      <small *ngIf="loginForm.get('password')?.errors?.['pattern']">
        {{"login.error"| translate}}
      </small>
      <small *ngIf="loginForm.get('password')?.errors?.['required']">
        {{"login.requiredPassword"| translate}}
      </small>
    </div>

    <button [disabled]="loginForm.invalid">   {{"login.login"| translate}}</button>
  </form>
</body>
