<div class="bg-light min-vh-100 d-flex justify-content-center align-items-center">
  <div class="w-50">

          <h2>Login</h2>

          <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="email" />
              <mat-error>required</mat-error>
            </mat-form-field>
            <mat-form-field  appearance="outline" class="w-100">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" placeholder="password" />
                       <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
            required
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')?.errors?.['pattern']">
            Password must contain more than 4 characters, 1 upper case letter
          </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-center">
              <button mat-raised-button color="warn" [disabled]="loginForm.invalid" >Login</button>
            </div>
          </form>



    </div>

</div>

