.option {
  font-family: HelveticaNeue;
  font-size: 16px;
  padding: 5px;
  border: 2px solid rgba(112, 112, 112, 0.53);
  background: #545454;
  color: white;
  .select {
    border: none;
    outline: none;
    background: #545454;
    color: #ff8b37;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-down" viewBox="0 0 16 16"><path d="M1 5h14L8 12 1 5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
  }
}
