<div class="d-flex gap-2">
  <div class="permission">
    <label for="permission">{{ "table.permissions" | translate }}</label>
    <select
      class="search"
      title="permission"
      [(ngModel)]="selectedPermission"
      (change)="onPermissionChange()"
    >
      <option value="all">{{ "option.all" | translate }}</option>
      <option value="admin">{{ "option.admin" | translate }}</option>
      <option value="viewer">{{ "option.viewer" | translate }}</option>
      <option value="contributor">
        {{ "option.contributer" | translate }}
      </option>
    </select>
  </div>

  <div class="permission">
    <label for="permission">{{ "table.joined" | translate }}</label>
    <select class="search" title="permission" [(ngModel)]="selectedOption"  >
      <option selected value="anytime">{{ "option.anytime" | translate }} </option>
      <option value="date">{{ "option.date" | translate }}

      </option>
    </select>
    <input
      matInput
      *ngIf="selectedOption === 'date'"
      type="date"
      [(ngModel)]="date"
      (change)="onDateChange()"
    />
  </div>
</div>
