<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="nav-link" class="text-white text-decoration-none" *ngIf="user !== null">{{
      user?.username
    }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-white">
        <li class="nav-item text-white">
          <a
            class="nav-link text-white"
            *ngIf="user == null"
            routerLinkActive="active"
            routerLink="login"
            >{{ "navbar.login" | translate }}</a
          >
        </li>
        <li class="nav-item d-flex">
          <a
            class="nav-link"
            *ngIf="user !== null"
            routerLinkActive="active"
            (click)="logOut()"
            routerLink="login"
            >{{ "navbar.logout" | translate }}</a
          >
          <a class="nav-link btn" (click)="changeLang()">{{
            lang == "en" ? "عربي" : "en"
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
