<div class="container">
  <div>
    <form class="p-2" [formGroup]="userList"  >
      <div>
        <mat-form-field>
          <mat-label>username</mat-label>
          <input matInput formControlName="username" placeholder="username" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input matInput formControlName="email" placeholder="email" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Select</mat-label>
                <mat-select class="form-control"formControlName="role" [(ngModel)]="selectedRole" (change)="updateSelectedRole()" placeholder="Role">
          <mat-option *ngFor="let role of roles"  [value]="role?.name">
            {{ role?.name }}
          </mat-option>
        </mat-select>
        </mat-form-field>

        <div>
          <button  class="btn btn-secondary" (click)="userform()" [disabled]="userList.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
