.user {
  border-radius: 5px;
  border: 1px solid rgba(112, 112, 112, 0.53);
  background: linear-gradient(
    250deg,
    rgba(251, 107, 3, 0.8) 0.76%,
    rgba(255, 139, 55, 0.8) 121.19%
  );
  color: white;
  padding: 10px 35px 10px 30px;
  font-family: HelveticaNeue;
  font-size: 16px;
}
