.home{
color: white;
background: #494949;;
}
table{
border-radius: 4px;
background: #494949;
color: white;
}

table{
  th{
    background: #3D3D3D;
    color: white;
  }
  td{
    color: white;
  }

}
