.home {
  color: white;
  background: #494949;
}

table {

  border-radius: 4px;
  background: #494949;
  font-family: HelveticaNeue;
  th {
    background: #3d3d3d;
    color: white;
  }
  td {
    color: white;
  }
}
.mat-mdc-row,
.mat-mdc-header-row {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.title h3 {
  color: #fff;
  font-family: HelveticaNeue;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height:39px
}
.export {
  color: white;
  padding: 10px 35px 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(112, 112, 112, 0.53);
  background: #474747;
  font-family: HelveticaNeue;
  font-size: 24px;
}

.list {
  border: 1px solid #6b6b6b;
  border-radius: 5px;
  width: 33.917px;
  height: 34.208px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg {
  border: 1px solid #6b6b6b;
  border-radius: 5px;
  width: 33.917px;
  height: 34.208px;
  display: flex;
}
svg{
  position: relative;
    left: 7px;
}

.no {
  border-radius: 7px;
  width: 30.292px;
  height: 29px;
  flex-shrink: 0;
  border: 2px solid #7d7d7d;
  background: #494949;
  display: flex;
}
::ng-deep .mat-mdc-paginator-container{
  background-color: #494949;
  justify-content: flex-start !important;
  color: white !important;
}


